P{
  color:#454343;
  font-family: Helvetica, Arial, sans-serif;
}

#container{
  width:95%;
  margin:0 auto;
}

body{
  background-color: #ffcff9;
}

h1{
  font-family:Georgia, "Times New Roman", serif;
}

h2{
  font-family:Georgia, "Times New Roman", serif;
}

h3{
  font-family:Georgia, "Times New Roman", serif;
}


#nav{
  padding: 0;
  list-style-type: none;
}

#nav li{
  margin:0;
  padding:0;
  border-bottom: 1px solid #ccc;
}

#nav a:link, #nav a:visited{
  display:block;
  color:#ffffff;
  background-color: #953eb5;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, #nav a:active{
  background-color: #58246b;
}


.caption{
  text-align: left;
  color:black;
  font-family:Georgia, "Times New Roman", serif;
  margin-top: 0;
  font-size: 0.8em;
  font-style: italic;
}

.pic{
  margin-bottom: 0;
}

img{
  border:none;
}
