P{
  color:#454343;
  font-family: Helvetica, Arial, serif;
}

#container{
  width:95%;
  margin:0 auto;
}

h1{
  font-family:Georgia, "Times New Roman", serif;
}

h2{
  font-family:Georgia, "Times New Roman", serif;
}

h3{
  font-family:Georgia, "Times New Roman", serif;
}

.caption{
  text-align: left;
  color:black;
  font-family:Georgia, "Times New Roman", serif;
  margin-top: 0;
  font-size: 0.8em;
  font-style: italic;
}

img{
  border:none;
}
